/* You can add global styles to this file, and also import other style files */

.bg-color-primary {
    background-color: #f4925f;
}

.color-primary {
    color: #f4925f;
}

.bg-color-secondary {
    background-color: #2d2d29;
}

.color-secondary {
    color: #2d2d29;
}
